@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --input-h: 40px;
  --navbar-h: 64px;
  --sidebar-w: 240px;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
